/*COLOR*/

li{ color: blue; }

h2 { color: blue; }
  
div { color: blue; }

b{ color: rgb(16, 224, 207);}

aside{color: rgb(231, 23, 23); }

p {color: rgb(228, 118, 15); }
  
footer{color: blue;  }

div {color: blue; }

h4{ color: rgb(83, 160, 5);}

MARQUEE{ color: rgb(65, 4, 122);}

