
/*

display: none;   OCULTA EL ELEMENTO




*/

*{

box-sizing: border-box;

}



body{


    background-color: rgb(224, 228, 228);

    color: rgb(14, 13, 13);
}



.danny8{

    background-color: rgb(148, 9, 9);
    color:white;
    display: none;
}

.danny88{

    background-color: rgb(148, 9, 9);
    color:white;
    display: inline;
}


.danny888{

color:white;
    background-color: blue;
    display: block;
}


.danny8888{

    color:white;
    background-color: blue;
    display: inline-block;

    width: 150px;
    height: 150px;
    margin-top: 50px;
    }