


body
{
background-image: url("../img/3.jpg"); 
background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;

}



